<footer class="bg-dark text-white py-4">
  <div class="container text-center">
    <p class="mb-1">&copy; 2023 Mathieu. All rights reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="text-white" href="https://github.com/KIIBAFDP" target="_blank">GitHub</a>
      </li>
      <li class="list-inline-item">
        <a class="text-white" href="https://linkedin.com/in/mathieu" target="_blank">LinkedIn</a>
      </li>
      <li class="list-inline-item">
        <a class="text-white" href="https://twitter.com/mathieu" target="_blank">Twitter</a>
      </li>
    </ul>
  </div>
</footer>